body {
  margin: 0;
  font-family: "General Sans", sans-serif;
  background-color: #1a7592;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

* {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  padding: 1.5rem 3rem 1.5rem 3rem;
}

.navigation__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navigation__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navigation__title {
  font-size: 1.2em;
  font-weight: 500;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: #eff3f6;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
  color: gray;
  position: relative;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
}

.gg-search {
  position: absolute;
  left: 1.5rem;
}
.bag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.notification {
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: #df5448;
  padding: 0.125rem 0.50rem;
  color: white;
  border-radius: 50%;
  font-size: 0.7rem;
}

.banner {
  background-color: #fbd4cf;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .navigation__left {
    gap: 2rem;
  }
  .navigation__right {
    gap: 2rem;
  }
  .navigation {
    flex-direction: row;
  }
}


/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xL */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .navigation__left {
    gap: 3rem;
  }
  .navigation__right {
    gap: 3rem;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
