body {
  font-family: "General Sans", sans-serif;
  margin: 0;
  background-color: #5b6979;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: stretch;
}

.card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex: 1;
}

.img {
  height: 3rem;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__desc {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
 
}

.card__title {
  font-size: 1rem;
  font-weight: 500;
}

.card__sub {
  font-size: 0.8rem;
  color: #334155;
}

.shipping {
  background-color: #fcf4d0;
}

.money {
  background-color: #e1fdfb;
}

.support {
  background-color: #fddfd0;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    flex-direction: row;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xL */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
