/* Add CSS here */
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #5b6979;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cookies {
  margin-top: 350px;
  background-color: #eaf4fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2rem;
}

.message {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.desc {
  opacity: 0.7;
}

.action {
  display: flex;
  gap: 1.5rem;
  flex: 0 0 40%;
  justify-content: flex-end;
}

.more,
.okay {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.more {
  background-color: white;
}

.okay {
  background-color: #227391;
  color: white;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .cookies {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xL */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
