.dropdown__select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gg-chevron-down {
  cursor: pointer;
}

.dropdown__list {
  display: none;
}

.show {
  display: block;
}
